@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}
.learn-header { font-size: 3.1vw;}
.p-header {
    font-size: 1.3vw;
}
.button-header {
    font-weight: 400;
    padding: 1.8vw 7vw;
    border-radius: 15px;
    font-size: 1.8vw;
}
.lesson { margin-top: 26%; }
.header {
    height: 100vh;
    margin-top: 50px;
}
.card-section-1 { background-color: #F5F5F5;}
@media screen and (max-width: 767px) {
    .p-header { font-size: 16px; }
    .learn-header { font-size: 36px;}
    .button-header {
        font-size: 18px;
        padding: 24px 101px;
    }
    #footer-email {
        width: 100%;
    }
}
